div{
    margin: 30px;
}
h1{
    margin-left: 30px;
}
#Message{
    margin-left: 80px;
}
#email{
    margin-left: 105px;
}
#date{
    margin-left: 56px;
}
#color{
    margin-left: 38px;
}
#volume{
    margin-left: 44px;
}
#blinks{
    margin-left: 25px;
}